* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
$colors: (
  primary: #cccccc,
  secondary: #550000,
);

:root {
  @each $var, $value in $colors {
    --color_#{$var}: #{$value};
  }
}
